#top {
	margin-top: 4%;
}

body {  
  font-family: 'Roboto', sans-serif;
  margin-top: 4em;
  background-image: url("https://source.unsplash.com/GnvurwJsKaY");
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.jumbotron {
	opacity: 0.9;
}

#dissapear {
	list-style:none;
}

.dropdown-menu {
	background-color: black;
}

.navbar-custom {
    background-color: #0096c7;
}

#main .navbar-brand {
	color: #e71d36;
	font-weight:700;
}

#main .contact {
	color: white;
}

#main .nav-link:hover {
	font-size: 1.07em;
	font-weight: bold;
}

.fa-envelope {
	color: red;
}

.fa-phone-alt{
	color: green;
}

.fa-linkedin{
	color: blue;
}

.fa-project-diagram{
	color: #e85d04;
}

.fa-spinner{
	color: #4ea8de;
}

.contact:hover {
	font-weight: bold;
	background-color: #0077b6;
}
p{
	text-align: justify;
}

@media (max-width: 400px){
	p.lead{
		font-size: 16px;
	}
	
	h1{
		font-size:27px;
		font-weight:bold;
	}
	
	h2{
		font-size: 25px;
	}
	
	h3{
		font-size: 22px;
	}
}

@media (max-width: 300px){
	
	body {
		font-size: 14.5px;
	}
	
	p.lead{
		font-size: 14px;
	}
	
	h1{
		font-size:23px;
		font-weight:bold;
	}
	
	h2{
		font-size: 20px;
	}
	
	h3{
		font-size: 18px;
	}
}