<%- include ("partials/header") %>

<section class="container jumbotron" style="max-width: 700px">
	
	<h1 class="font-weight-bold text-center mb-5">BIODATA</h1>
		 
	<div>
		<h4 class="mb-5">Gender: Male</h4>
		<h4 class="mb-5">Date Of Birth: 20th May 1997</h4>
		<h4 class="mb-5">Nationality: Nigerian </h4>
		<h4 class="mb-5">State of Origin: Ondo</h4>
	</div>

</section>










<%- include ("partials/footer") %>