<%- include ("partials/header") %>

<section class="container jumbotron" style="max-width: 700px">
	
	<!-- <h1 class="font-weight-bold text-center mb-5"></h1> -->
	
	<p class="lead text-justify">
		I am a young graduate of Electrical and Electronics engineering from Landmark University. I was born on the 20th of May 1997. Growing up as a child I have always been fascinated by the world of science and technology. This made me eager to go into this field and grow as a professional.
	</p>
	
	<p class="lead text-justify">
		Over the years, I have gained massive interest in the world of software development and this has subsequently become a passionate hobby of mine. In addition to this, the field of mechatronics is something I find extremely intriguing and plan to study eventually. Its synergetic combination of electrical, mechanical and computer science makes this discipline very complex and multifaceted but also an amazing form of engineering which undoubtedly has contributed massively to the improved standard of living we experience in todays world.
	</p>
	   
	<p class="lead text-justify">
		Engineering and software development is a very interesting lifestyle, and I am completely open to learning new things and vital experiences to help me achieve my dreams.
	</p>
</section>










<%- include ("partials/footer") %>