<%- include("partials/header") %>
<section class="container jumbotron" style="max-width: 700px">
	<h1 class="font-weight-bold mb-5 text-center">Certifications</h1>
	
	<div>
		
<ul id="dissapear" class="font-italic">
	<li class="mb-5 px-0">WebDevelopment from Beginner to Mastery- Udemy 2019</li>
	<li class="mb-5 px-0">Certificate of Graduate Internship in International Development 2020</li>
	<li class="mb-5 px-0">Certificate in Agri-preneurship 2017</li>
	<li class="mb-5 px-0">National Youth Service Corps October 2018</li>
	<li class="mb-5 px-0">Graduate Nigerian Society of Engineers 2017 </li>
</ul>
	</div>
	

</section>




<%- include("partials/footer") %>