<%- include("partials/header") %>

<section class="container jumbotron" style="max-width: 700px">

<h1 class="font-weight-bold text-center mb-5">Education</h1>	
	
<div>
<h2 class="mb-3 font-weight-bold ">Landmark University(2017)Omu-Aran, Kwara State</h2>
<h3 class="font-weight-bold" >Bachelor Of Engineering</h3>
<p class="font-italic">Electrical And Electronics Engineering </p>
<h3 class="font-weight-bold"><em>2nd class upper honors</em></h3>
<ul class="mb-5">
	<li>Final Year Project: [Testing, evaluation, synchronization and commissioning of a 3.5KVA Solar Power Inverter for a section of landmark University Health Centre]
</li>
</ul>	
</div>
	

<h3 class="font-weight-bold">Skills</h3>
<ul  class="font-italic" >
	<li>Advanced critical thinking</li>
	<li>Nodejs ,Express Js, jQuery  </li>
	<li>HTML, CSS and Bootstrap 4</li>
	<li>Semantic UI</li>
	<li>JavaScript and Web-Development</li>
	<li>SQL and Mongo database </li>
	<li>Microsoft Office Packages </li>
	<li>Modelling in AutoCAD 2D, 3D, Electrical.</li>
	<li>Good Oral and Written Communication</li>
	<li>Electrical Testing, instrumentation and Measurement</li>
	<li>Power and Energy solutions</li>
</ul>



</section>




<%- include("partials/footer") %>