<!DOCTYPE html>
<html>
	<head>
		<!-- Make site responsive on mobile/tablet -->
<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>FJT</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&family=Source+Code+Pro:ital,wght@1,500&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheet/home.css">
		<script src="https://kit.fontawesome.com/6d03ea063b.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	</head>
	<body>
		
	<section class="container-fluid px-0">
		   
		<div class="row no-gutters">
			<div class="col-md-6 left">
				<div class="port">
					<h1 class="text-center font-italic">
							Welcome to My Portfolio
					</h1>
				</div>
			</div>

			<div class="col-md-6 right">
				<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul id="anchor" class="navbar-nav mx-auto">
      <li class="nav-item space">
        <a class="nav-link" href="/professional">Career<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item space">
        <a class="nav-link" href="/biodata">About Me</a>
      </li>
      <li class="nav-item space dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		<a class="dropdown-item" href="https://feastzz.herokuapp.com"><i class="fas fa-project-diagram"></i> FeastOn demo site</a>
    <a class="dropdown-item" href="/colorgame"><i class="fas fa-project-diagram"></i> ColorGame</a> 
    <a class="dropdown-item" href="/todoDemo"><i class="fas fa-project-diagram"></i> TodoList</a>
    <a class="dropdown-item" href="#"><i class="fas fa-spinner"></i> To be updated ....</a>
        </div>
      </li>
    </ul>
  </div>
</nav>	
					
<div id="primary">
			<h1>Hello there!</h1>
			
			<p class="lead text-justify">
				My name is Akinsemoyin Favour Temidayo, a young Electrical and Electronics Enginnering graduate of Landmark University(Noble set 2017) and software developer who writes codes using Javascript for front end development and NodeJS for back end. Currently learning Reactjs.
			</p>
</div>
					
<div id="secondary">
			<h5><i class="fas fa-envelope"></i><a href="mailto: akinsemoyin27@gmail.com"> akinsemoyin27@gmail.com</a></h5>
			<h5><i class="fas fa-phone-alt"></i><a href="tel:+2348089690399"> +2348089690399</a></h5>
			<h5><i class="fas fa-phone-alt"></i><a href="tel:+2348147122725"> +2348147122725</a></h5>
</div>
<hr>			
<footer>
		<span class="px-1"><a href="https://www.linkedin.com/in/akinsemoyin-favour-4968671a2"><i class="fab fa-linkedin-in"></i></a></span>	
		<span class="px-1"><a href="https://twitter.com/OMO_IRETI"><i class="fab fa-twitter"></i></a></span>	
		<span class="px-1"><a href="https://www.instagram.com/temii_dayo_/"><i class="fab fa-instagram"></i></a>              </span>	
</footer>
</div>	
					

		
</div>		
</section>
		
		
		
		
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	</body>
</html>

