<%- include("partials/header") %>

<section class="container">
	<div class="row">
		<div class="mx-auto jumbotron" id="top" style="max-width: 700px;">
			<h1>Professional Summary</h1>
			<div>
				<p class="lead text-justify">
Innovative Electrical and Electronics Engineer passionate about technology and ways in which it can build a better life for people. Background in electrical power systems and Planning, petroleum management services, and Information Technology. Looking for opportunities to proactively contribute to innovation and growth.
			</p>
			<p class="lead text-justify">
				Particularly interested in Mechatronics Engineering which is an engineering field that includes many different disciplines including computer science, mechanical and electrical engineering. This type of engineering focuses on both mechanical and electrical systems and incorporates the use of computer systems, robotics, control systems, electronics and telecommunications.	
			</p>
			</div>
		</div>
	</div>
</section>





<%- include("partials/footer") %> 