<%- include("partials/header") %>

<section class="container jumbotron" style="max-width: 700px">
	<h1 class="mb-5 text-center font-weight-bold">REFEREES</h1>

  <div>
	<h4 class="mb-5">DR SOLOMON A.ADELEYE PhD, DIC, P.Eng. adeleyes@gmail.com</h4>
	<h4 class="mb-5">LAWAL OLUWASEUN SAMUEL – Landmark University, Kwara. Lawal.oluwaseun@lmu.edu.ng</h4>
	<h4 class="mb-5">DR EBENEZER OLOYEDE OGUNTUASE Benmy@comcast.net</h4>
   </div>
	
	
</section>



                                       
 


<%- include("partials/footer") %>

