<%- include("partials/header") %>
<section class="container jumbotron" id="top" style="max-width: 700px;">

<h1 class="font-weight-bold mb-5 text-center">Work History</h1>
	
<div class= mb-3>	
      <h2 class="font-weight-bold mb-2">Junior WebDeveloper-Self Learning <em>(July 2019 - Present)</em></h2>
  <ul>
	<li>Currently Learning Web Development  on Udemy.(WebDevelopment from Beginner to Mastery).</li>
	<li>Building responsive and user friendly websites and webApps with HTML,CSS , BootStrap, Javascript and Jquery.
    </li>
	<li>Building Restful Api Services using Node Js, Express framework and MongoDb.</li>
	<li>Writing  Code that adheres to  standards and best practices </li>
    <li>Collaborate and contribute to complex  open source projects.</li>
  </ul>
</div>

<div class="mb-3">
	<h2 class="font-weight-bold ">Dataville Research LLC</h2>
	<h4><em>(Feb 2020 - April 2020)</em></h4>
	  <ul>
		<li>I successfully completed a 3-month Graduate Internship Programme in International Development, and acquired competencies that broadly include rudiments of international development, data collection and management in development research and programme implementation of donor funded projects</li>
	  </ul>
</div>

<div class="mb-3">
	<h2 class="font-weight-bold ">West Africa Advatels International Limited(NYSC)</h2>
	<h4>Lagos, Nigeria</h4>
	<h4><em>(January 2018 - October 2018)</em></h4>
	<ul>
		<li>Responsible for high level planning and execution of projects and services.</li>
		<li>Designed and modelled electrical networks using AutoCAD.</li>
	</ul>
</div>

<div class="mb-3">
	<h2 class="font-weight-bold ">Nigeria National Petroleum Corporation National 
		                         Petroleum Investment Management services</h2>
	<h4>Lagos, Nigeria</h4>
	<h4><em>(Feb 2016 - July 2016)</em></h4>
	<ul>
		<li>Wrote protocols, qualification documents, test plans and test reports for quality assurance purposes.</li>
		<li>Obtained documents, clearances,certificates and approvals from relevant authorities</li>
		<li>Collaborated with senior engineers on projects planning and execution.</li>
	</ul>
</div>

<div class="mb-3">
	<h2 class="font-weight-bold ">Stag Engineering Nigeria Limited </h2>
	<h4>Ikeja, Lagos</h4>
	<h4><em>(Jan 2016 - Feb 2016)</em></h4>
	<ul>
		<li>Worked with the engineering team responsible for planning, designing and installing electrical equipment and facilities in the Power project.
</li>
	</ul>
</div>
	
</section>






<%- include("partials/footer") %>